<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Логотип -->
            <a class="navbar-brand" href="#">MyWebsite</a>
            <!-- Кнопка для мобільного меню -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Меню -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('resume')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('users.admin')}}">Hi admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('users.login')}}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('users.profile')}}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>